@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
    url(./fonts/PlayfairDisplay-Medium.ttf) format("truetype");
}

.App {
  height: 100vh;
  width: 100vh;
  background-color: pink;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
}

.body {
  display: flex;
  align-items: row;
  height: 100%;
  width: 100%;
}

.Sidebar {
  background-color: rgb(226, 158, 150);
  align-items: center;
  text-align: center;
  height: 100%;
  width: 20%;
}

.Sidebar a {
  text-decoration: none;
  color: rgb(70, 70, 156);
}

.AboutMe {
  background-color: rgb(222, 242, 248);
  padding: 3%;
}
.AboutContainer {
  background-color: rgb(236, 183, 236);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Nav {
  background-color: rgb(236, 207, 131);
  width: 100%;
  height: 10%;
  text-align: right;
  align-items: center;
}

.Nav h1 {
  margin-right: 2%;
}

.AboutMe img {
  height: 500px;
  width: 300px;
  border-radius: 3px;
  margin: 0.5%;
}

.AboutMe p {
  margin: 2%;
}
