html {
  font-family: "Fira Sans", sans-serif;
  background: url(../day2/images/peacecorps.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: rgb(245, 205, 211);
  overflow: hidden;
  padding: 10px;
  border: 2px solid white;
}

.navbarmenu a {
  display: block;
  text-align: right;
  float: right;
  padding: 5px 7px;
  color: black;
  text-decoration: none;
}

.navbarmenu li {
  list-style-type: none;
}

.header {
  background-color: rgb(245, 205, 211);
  overflow: hidden;
  padding: 10px;
  border: 2px solid white;
  display: block;
  text-align: center;
}

body {
  background-color: rgb(245, 205, 211);
  width: 80%;
  max-width: 1000px;
  min-width: 400px;
  margin: auto;
  border: 2px solid white;
}

img {
  height: 360px;
  width: 490px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
