html {
  background-image: linear-gradient(to bottom, pink, rgb(247, 90, 116));
  font-family: "Open Sans Condensed", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.tip-calculator {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

#bill-amount {
  margin: 0 10px 0 10px;
}

#tip-amount {
  margin: 0 10px 0 10px;
}

.tips {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/2;
  text-align: center;
  margin: 20px;
}

.tips h1 {
  height: 30px;
  width: auto;
}

.button {
  margin: 10px;
}

.tip-list {
  list-style: none;
  padding: 0;
}

.tip-list li:before {
  content: "$";
  margin-right: 4px;
}

.tip-list li {
  font-size: 20px;
}

input {
  text-align: center;
  border: none;
  height: 30px;
  border-radius: 3px;
}

label {
  font-size: 20px;
}
