html {
  font-family: "Josefin Sans", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vh;
  background-color: #b4f8c8;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2rem;
  background-color: lightblue;
}

.taskDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2rem;
  background-color: lightblue;
}
