html {
  background-image: url(./images/moviebkgrd.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Quicksand", sans-serif;
}

.App {
  text-align: center;
  background-color: rgba(221, 184, 184, 0.92);
  margin: 25px;
  border-radius: 5px;
}

.all-searched-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.one-movie {
  border: 2px solid rgb(192, 187, 187);
  border-radius: 5px;
  margin: 10px;
  padding: 1rem;
  width: 334px;
  height: 600px;
  background-color: rgb(228, 224, 224);
}

.one-movie img {
  height: 450px;
  width: 300px;
}

.search input {
  margin: 10px;
  height: 2rem;
  width: 24rem;
  font-size: 20px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.search button {
  border: none;
  background-color: rgb(235, 224, 226);
  border-radius: 3px;
  height: 2rem;
  width: 8rem;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

.search button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.featured-movie {
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.first-movie {
  text-align: center;
  border: 2px solid rgb(192, 187, 187);
  border-radius: 5px;
  margin: auto;
  padding: 1rem;
  width: 500px;
  background-color: rgb(228, 224, 224);
}
