html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans Condensed", sans-serif;
  scroll-behavior: smooth;
}

.main-container {
  background-color: rgb(113, 161, 177, 0.92);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  height: 70%;
  min-height: 80px;
  width: 80%;
  min-width: 800px;
  max-width: 1000px;
}

.new-person {
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.new-person:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#main-pic {
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.meet {
  height: 30px;
  width: 60px;
  border-radius: 1px;
}
.discover {
  height: 30px;
  width: 80px;
  border-radius: 1px;
}

.card-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.individual-card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  margin: 10px;
}

img {
  margin: 5px 3px 0 3px;
  border-radius: 3px;
}

.location-card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  margin: 10px;
}

.new-place {
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 4px 6px 4px 6px;
}

.new-place:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
