@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"), url(./fonts/Roboto-Thin.ttf) format("truetype");
}

.App {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 97vh;
  display: flex;
  flex-direction: column;
}

.App a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.left-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.left-links a {
  color: rgb(53, 52, 52);
  text-decoration: none;
  margin: 15%;
  padding-left: 6%;
}

.right-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 4%;
}

.right-links a {
  color: rgb(53, 52, 52);
  text-decoration: none;
  margin-right: 12%;
}

.right-links img {
  padding-left: 7%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.input-bar {
  width: 40%;
  height: 36px;
  border: solid 1px rgb(218, 211, 211);
  border-radius: 22px;
  outline: none;
  padding-left: 1%;
}

.buttons button {
  font-family: "Roboto", sans-serif;
  border: none;
  margin: 1%;
  border-radius: 4px;
  height: 36px;
  width: 142px;
  background-color: rgb(250, 242, 242);
  color: rgb(53, 52, 52);
}

.buttons button:hover {
  border: solid 1px rgb(218, 211, 211);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5%;
}

.footerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: auto;
}

.leftfooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 25%;
}

.leftfooter a {
  color: rgb(145, 142, 142);
  text-decoration: none;
  margin: 2%;
}

.centerfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 20%;
  padding-right: 10%;
}

.centerfooter a {
  color: rgb(145, 142, 142);
  text-decoration: none;
  margin: 2%;
}

.centerfooter img {
  height: 12px;
  width: 14px;
  margin-right: 5px;
}

.rightfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 5%;
}

.rightfooter a {
  color: rgb(145, 142, 142);
  text-decoration: none;
  margin: 2%;
  padding-right: 12%;
}
