<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>To Do List</title>
  </head>
  <body>
    <div class="main-container">
      <a href="/add">Add a Task</a>
      <h1>Your To Do List</h1>
      <div class="task-container">
        ${tasks.map(alltasks => `
        <h3>${alltasks.description}</h3>
        <div class="button-container">
          <a href="/update-task/${alltasks.todo_id}"
            ><button type="submit">Update</button></a
          >
          <form action="/delete-task" method="POST">
            <input type="hidden" name="todo_id" value="${alltasks.todo_id}" />
            <button type="submit">Delete</button>
          </form>
        </div>
        `).join('')}
      </div>
    </div>
  </body>
</html>
