<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Single Task</title>
  </head>
  <body>
    <div class="main-container">
      <div class="change-task">
        <h1>Your To Do has been updated to "${task}"</h1>
        <a href="/">Back to Your To Do List</a>
      </div>
    </div>
  </body>
</html>
