<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Update Task</title>
  </head>
  <body>
    <div class="main-container">
      <div class="change-task">
        <form action="/update-task" method="POST">
          <label for="task">Current Task</label>
          <input type="text" name="task" value="${task}" />
          <input type="hidden" name="todo_id" value="${id}" />
          <button type="submit">Submit Change</button>
        </form>
      </div>
    </div>
  </body>
</html>
