html {
  font-family: "New Tegomin", serif;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 0.4rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

#sidebar {
  grid-area: sidebar;
  background-color: #05445e;
}

nav {
  grid-area: nav;
  background-color: #189ab4;
}

footer {
  grid-area: footer;
  background-color: #189ab4;
}

main {
  grid-area: main;
  background-color: #d4f1f4;
}

#content-div-1 {
  grid-area: content1;
  background-color: #75e6da;
}

#content-div-2 {
  grid-area: content2;
  background-color: #75e6da;
}

#content-div-3 {
  grid-area: content3;
  background-color: #75e6da;
}

@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
